body {
    margin: 20px auto;
    font-family: 'roboto';
    font-weight: 300;
    text-align: center;
    background-color: #262626;
    color: #ffffff;
}

.title {
    margin-left: 8px;
    margin-right: 8px;
}

.divider {
    border-top: 1px solid;
    width: 100%;
}

.status {
    margin: 32px 8px;
    text-align: center;
}

.action {
    /* margin-top: 12px;
    margin-bottom: 12px;*/
}

.action Button {
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 8px;
}

.configure {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left;
}

.simple-panel .MuiBox-root {
    padding: 4px;
}

/* .MuiTab-root {
    color: #ffffff;
}

.MuiTab-root.Mui-selected {
    color: #ffffff;
}

.MuiTabs-indicator {
    background-color: #ffffff;
}*/
